/* NAV  */
nav
{
	width: 100%;
	padding-top: 20px;
}
.nav
{
	display: grid;
	grid-gap: 20px;
	max-width: 1100px;
	margin: auto;
}
.nav_top
{
	display: grid;
	grid-template-columns: 1fr auto;
}
.nav_top_logo
{
	font-size: 2.4rem;
	line-height: 2rem;
}
.nav_top_link
{
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: center;
	grid-gap: 20px;
}
.nav_menu
{
	display: grid;
	grid-template-columns: repeat(auto-fit, 120px);
	grid-gap: 20px;
	justify-content: center;
}
.nav_menu_button
{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	background-color: white;
	width: 120px;
	height: 120px;
	box-shadow: 0 0 20px 8px rgba(60, 139, 232, 0.2);
	border-radius: 16px;
}
.nav_menu_button:hover
{
	transition-duration: 0.4s;
	box-shadow: 0 0 20px 8px rgba(60, 139, 232, 0.4);
}
.nav_menu_button__activate
{
	background-color: #509AF1;
	color: white;
}
.nav_menu_button_icon
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}
.nav_menu_button_icon img
{
	height: 30px;
	object-fit: cover;
}
.nav_menu_button_name
{
	margin: 0 auto;
	max-width: 90%;
	font-size: 1.4rem;
	text-align: center;
}
.nav_top_link_profile
{
	display: flex;
	align-items: center;
	grid-column-gap: 10px;
	position: relative;
	cursor: default;
}
.nav_top_link_profile_menu
{
	position: absolute;
	z-index: 1;
	right: -5px;
	top: -5px;
	min-width: 200px;
	max-width: 400px;
	height: 0px;
	transition-duration: 0.2s;
	overflow: hidden;
	padding: 0 15px;
	border-radius: 16px;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
}
.nav_top_link_profile:hover .nav_top_link_profile_menu
{
	display: grid;
	transition-duration: 0.3s;
	height: auto;
	padding: 70px 15px 15px 15px;
	box-shadow: 0 0 15px 2px rgb(60 139 232 / 40%);
}
.nav_top_link_profile_menu a
{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 6px;
	align-items: center;
}
.nav_top_link_profile_menu a img
{
	height: 14px;
	object-fit: cover;
}
.nav_top_link_profile_name
{
	z-index: 2;
}
.nav_top_link_profile_image
{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	overflow: hidden;
	background-color: #EFEFEF;
	z-index: 2;
}
.nav_top_link_profile_image img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nav_top_contact_container
{
	position: relative;
	cursor: pointer;
}

.nav_top_contact_block
{
	position: absolute;
	top: -100vh;
	right: 0;
	z-index: 3;
	width: 380px;
	background-color: white;
	box-shadow: 0 0 15px 2px rgb(60 139 232 / 40%);
	border-radius: 16px;
	padding: 30px;
	transition-duration: 0.3s;
	margin-bottom: 10px;
	cursor: default;
}
.nav_top_contact_el
{
	display: flex;
	justify-content: space-between;
}
.nav_top_contact_el a
{
	font-weight: 500;
}
.nav_top_contact_container:hover > .nav_top_contact_block
{
	top: -8px;
}



#menu__toggle
{
	position: relative;
	top: -50px;
	visibility: hidden;
	display: none;
	opacity: 0;
}
.menu__btn
{
	visibility: hidden;
}
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .nav {
	visibility: visible;
	left: -2px;
}
.menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	top: 20px;
	left: 10px;

	width: 35px;
	height: 36px;

	cursor: pointer;
	z-index: 100;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;

	width: 100%;
	height: 4px;

	background-color: #616161;

		transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -10px;
}
.menu__btn > span::after {
	content: '';
	top: 10px;
}
@media screen and (max-width: 980px){
    nav
    {
        background-color: transparent;
        display: block;
        box-shadow: none;
    }
    #menu__toggle
    {
        display: none;
        visibility: visible;
    }
    .menu__btn
    {
        visibility: visible;
    }
    .nav
    {
    	display: block;
    	width: calc(100vw - 40px);
        top: 0;
        left: -100%;
        visibility: hidden;
        height: 100%;
        max-width: 100%;
        position: fixed;
        z-index: 10;
        padding: 20px 20px;
        box-shadow: 0 5px 10px 2px #C1C1C1;

        background: rgb(175,209,255);
		background: radial-gradient(circle, rgba(175,209,255,1) 0%, rgba(255,255,255,1) 100%);
    }
    .nav_top
    {
    	margin-left: 35px;
    }
    .nav_menu
    {
    	display: block;
    }
    .nav_top_contact_mobile_block
	{
		display: flex;
		flex-direction: column;
		grid-row-gap: 10px;
	}
    
   
}
/* END NAV */




/* FOOTER  */
footer
{
	max-width: 100%;
	min-height: 150px;
	color: white;
	background-color: #3C8BE8;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	padding: 50px 50px;
}
.footer
{
	position: relative;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 90px;
	justify-content: center;

	font-size: 1.4rem;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
}
.footer_brand
{
	display: grid;
	grid-gap: 20px;
}
.footer_brand_name
{
	color: white;
	font-size: 3rem;
	line-height: 3rem;
}
.footer_brand_contact
{
	display: grid;
	grid-gap: 6px;
}
.footer_brand_contact_el
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 12px;
}
.footer_brand_social-network
{
	display: flex;
	grid-gap: 15px;
}
.footer_brand_social-network_link
{
	display: block;
	width: 35px;
	height: 35px;
}
.footer_brand_social-network_link img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer_for-user
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
	grid-template-rows: repeat(auto-fit, 40px);
}
.footer_headline
{
	display: block;
	font-size: 1.6rem;
	color: white;
}
.footer_for-user .footer_headline
{
	grid-column: 1/3;
}
.footer_for-user a
{
	display: block;
	height: auto;
}
.footer_about
{
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fit, 40px);
}
.footer_site-by
{
	position: absolute;
	bottom: 0;
	left: 0;
}
@media screen and (max-width: 980px){
	footer
	{
		padding: 20px;
	}
	footer section
	{
		margin: 0;
	}
	.footer
	{
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 15px;
		grid-column-gap: 20px;
		justify-content: center;
	}
	.footer_brand
	{
		grid-row: 2;
		grid-column: 1/3;
	}
	.footer_for-user, .footer_about
	{
		display: flex;
		flex-direction: column;
		grid-row-gap: 10px;
	}
	.footer_brand
	{
		display: grid;
		grid-template-columns: 1fr auto;
	}
	.footer_brand_contact
	{
		grid-row: 1;
		grid-column: 1/3;
		grid-gap: 5px;
		margin-bottom: 30px;
	}
	.footer_brand_contact:before
	{
		content: 'Связаться с нами';
		display: block;
		font-size: 1.6rem;
		color: white;
	}
	.footer_brand_social-network
	{
		grid-row: 2;
		grid-column: 1;
	}
	.footer_brand_name
	{
		grid-row: 2;
		grid-column: 2;
		font-size: 1.4rem;
		line-height: 1.4rem;
	}
	.footer_brand_copyright
	{
		grid-column: 1/3;
	}

	
}
/* END FOOTER  */


/* AUTH */
.auth_base
{
	max-width: 100vw;
	min-height: 100vh;
	background: linear-gradient(180deg, #98C8FF 0%, #6DB0FF 100%);

	font-size: 1.6rem;
	font-weight: 500;

	display: flex;
	align-items: center;
	justify-content: center;
}
.auth_form_error
{
	display: block;
	padding: 15px;
	border-radius: 16px;
	color: white;
	background-color: #F44949;
}
.auth_form_error ul
{
	margin: 0;
}
.auth_base_card
{
	position: relative;
	border-radius: 32px;
	padding: 60px;
	background-color: white;
	overflow: hidden;
	margin: 15px;
}
.auth_base_back
{
	position: absolute;
	right: 30px;
	top: 30px;

	width: 30px;
	height: 30px;
}
.auth_base_back img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.auth_base_card h1
{
	font-size: 2.2rem;
	line-height: 2.2rem;
	font-weight: 500;
	margin:0 0 30px 0;
}
.auth_base_card h2
{
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 20px;
}

.auth_form form, .auth_form_content
{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}
.auth_form_help
{
	position: relative;
	text-align: center;
	color: rgba(3, 32, 66, 0.7);;
	font-size: 1.4rem;
	font-weight: 400;
}
.auth_form_help_text
{
	z-index: 3;
	background-color: white;
	overflow: hidden;
	cursor: pointer;
}
@keyframes block_visible {
	0% 		{opacity: 0; z-index: 1;}
	100% 	{opacity: 1; z-index: 1;}
}

.auth_form_help_banner
{
	position: absolute;
	top: 25px;
	left: 10%;
	/*left: -100vw;*/
	width: 300px;
	background-color: white;
	box-shadow: 0 0 15px 2px rgb(60 139 232 / 40%);
	border-radius: 16px;
	padding: 30px;
	z-index: -1;
	opacity: 0;
	transition-duration: 0.3s;
}
.auth_form_help:hover > .auth_form_help_banner
{
	animation: block_visible 0.4s forwards ;
	/*left: 10%;*/
}
.auth_form .errorlist
{
	width: 450px !important;
	color: #032042;
}

.auth_form_input
{
	background: #F1F7FF;
	border-radius: 16px;
	padding: 20px;
	border: none;
	min-width: 300px;
	max-width: 100%;
	outline:none;
}
.auth_form_button
{
	display: inline-flex;
}
.auth_form_button .button
{
	padding: 20px 40px;
	margin: auto;
	cursor: pointer;
}

.auth_form .errorlist
{
	width: 300px;
	margin-left: 0; 
	padding-left: 0;
	list-style-type: none;
}
.auth_form .errorlist li
{
	margin-bottom: 10px;
}
/* AUTH END  */