{% load static %}
<footer>
	<section class="footer">
		<div class="footer_brand">
			<div class="footer_brand_name">
				<b>МОЙ МИР</b><br>
				МОИ ВОЗМОЖНОСТИ
			</div>
			<div class="footer_brand_contact">
				<div class="footer_brand_contact_el">
					<span>Техническая поддержка</span>
					<a href="tel:79242275447">+7 924 227-54-47</span>
				</div>
				<div class="footer_brand_contact_el">
					<span>Почта</span>
					<a href="mailto:moimir-vozmojnosti@internet.ru">moimir-vozmojnosti@internet.ru</a>
				</div>
			</div>
			<div class="footer_brand_social-network">
				<a href="https://vk.com/vozmojnostiru" class="footer_brand_social-network_link" target="_blank">
					<img src="{% static 'web/img/icons/vk.svg' %}">
				</a>
				<a href="https://chat.whatsapp.com/IOuISl8ZYTHHKbaOr0OZ4n" class="footer_brand_social-network_link" target="_blank">
					<img src="{% static 'web/img/icons/wa.svg' %}">
				</a>	
			</div>
			<div class="footer_brand_copyright">
				© 2023 Мой мир - мои возможности
			</div>
		</div>
		<div class="footer_for-user">
			<b class="footer_headline">Пользователям</b>
			<a href="#">Поиск работы</a>
			<a href="#">Нуждаются в помощи</a>
			<a href="#">Поиск специалистов</a>
			<a href="#">Мероприятия</a>
			<a href="#">Волонтерство</a>
			<a href="#">Полезная информация</a>
			<a href="#">Детские секции</a>
			<a href="#">Новости</a>
		</div>
		<div class="footer_about">
			<b class="footer_headline">О сервисе</b>
			<a href="#">Информация о проекте</a>
			<a href="#">Пользовательское соглашение</a>
			<a href="" class="footer_site-by">Сайт сделан: <b>WaerGroup</b></a>
		</div>
	</section>
</footer>