{% load static %}
<nav>
	<input id="menu__toggle" type="checkbox" />
	<label class="menu__btn" for="menu__toggle">
		<span></span>
	</label>
	<div class="nav desktop-only">
		<div class="nav_top">
			<div class="nav_top_logo">
				<a href="/">
					<b>Мой мир</b><br>
					Мои возможности
				</a>
			</div>
			<div class="nav_top_link">
				<div class="nav_top_contact_container">
					<span class="link nav_top_contact_text">Контакты</span>
					<div class="nav_top_contact_block">
						<div class="nav_top_contact_el">
							<span>Техническая поддержка</span>
							<a href="tel:89242275447">+7 924 227-54-47</a>
						</div>
						<div class="nav_top_contact_el">
							<span>Техническая поддержка</span>
							<a href="tel:89146872644">+7 914 687-26-44</a>
						</div>
						<div class="nav_top_contact_el">
							<span>Почта</span>
							<a href="mailto:moimir-vozmojnosti@internet.ru">moimir-vozmojnosti@internet.ru</a>
						</div>
						<div class="nav_top_contact_el">
							<span>Наша группа ВК</span>
							<a href="https://vk.com/vozmojnostiru" target="_blank">@vozmojnostiru</a>
						</div>
					</div>
				</div>
				
				{% if user.is_authenticated %}
					{% if user.profile.account_type == "Пользователь" %}
						<div class="nav_top_link_profile">
							<span class="nav_top_link_profile_name">
								{{user.profile.name}} {{user.profile.surname}}</span>
							<div class="nav_top_link_profile_image">
								<img src="{{user.profile.image.url}}">
							</div>
							<div class="nav_top_link_profile_menu">
								<a href="{% url 'profile' %}">
									<img src="{% static 'web/img/icons/star.svg' %}">
									<span>Личный кабинет</span>
								</a>
								<a href="{% url 'favorite' %}">
									<img src="{% static 'web/img/icons/save.svg' %}">
									<span>Закладки</span>
								</a>
								<a href="{% url 'response' %}">
									<img src="{% static 'web/img/icons/response.svg' %}">
									<span>Ваши отклики</span>
								</a>
								<a href="{% url 'logout' %}">
									<img src="{% static 'web/img/icons/logout.svg' %}">
									<span style="color:red">Выйти</span>
								</a>
							</div>
						</div>
					{% elif user.profile.account_type == "Работодатель" %}
						<div class="nav_top_link_profile">
							<span class="nav_top_link_profile_name">
								{{user.profile.employer}}
							</span>
							<div class="nav_top_link_profile_image">
								<img src="{{user.profile.image.url}}">
							</div>
							<div class="nav_top_link_profile_menu">
								<a href="{% url 'profile' %}">
									<img src="{% static 'web/img/icons/star.svg' %}">
									<span>Личный кабинет</span>
								</a>
								<a href="{% url 'favorite' %}">
									<img src="{% static 'web/img/icons/save.svg' %}">
									<span>Закладки</span>
								</a>
								<a href="{% url 'logout' %}">
									<img src="{% static 'web/img/icons/logout.svg' %}">
									<span style="color:red">Выйти</span>
								</a>
							</div>
						</div>
					{% elif user.profile.account_type == "Детский" %}
						<div class="nav_top_link_profile">
							<span class="nav_top_link_profile_name">
								{{user.profile.name}} {{user.profile.surname}}</span>
							<div class="nav_top_link_profile_image">
								<img src="{{user.profile.image.url}}">
							</div>
							<div class="nav_top_link_profile_menu">
								<a href="{% url 'profile' %}">
									<img src="{% static 'web/img/icons/star.svg' %}">
									<span>Личный кабинет</span>
								</a>
								<a href="{% url 'favorite' %}">
									<img src="{% static 'web/img/icons/save.svg' %}">
									<span>Закладки</span>
								</a>
								<a href="{% url 'logout' %}">
									<img src="{% static 'web/img/icons/logout.svg' %}">
									<span style="color:red">Выйти</span>
								</a>
							</div>
						</div>
					{% else %}
					<a href="{% url 'profile' %}" class="nav_top_link_profile">
						{{user.username}}
						<div class="nav_top_link_profile_image">
							<img src="{{user.profile.image.url}}">
						</div>
					</a>
					{% endif %}
				{% else %}
					<a href="{% url 'register' %}" class="button">Регистрация</a>
					<a href="{% url 'login' %}" class="button">Войти</a>
				{% endif %}
			</div>
		</div>
		<div class="nav_menu">

			{% if user.profile.account_type != "Детский" %}

				{% if request.path == "/job" %}
					<a href="{% url 'job' %}" class="nav_menu_button nav_menu_button__activate">
						<div class="nav_menu_button_icon">
							<img src="{% static 'web/img/icons/work_found__active.svg' %}">
						</div>
						<span class="nav_menu_button_name">Поиск работы</span>
					</a>
				{% else%}
					<a href="{% url 'job' %}" class="nav_menu_button">
						<div class="nav_menu_button_icon">
							<img src="{% static 'web/img/icons/work_found.svg' %}">
						</div>
						<span class="nav_menu_button_name">Поиск работы</span>
					</a>
				{% endif %} 
				

				{% if request.path == "/specialist" %}
					<a href="{% url 'specialist' %}" class="nav_menu_button nav_menu_button__activate">
						<div class="nav_menu_button_icon">
							<img src="{% static 'web/img/icons/education__active.svg' %}">
						</div>
						<span class="nav_menu_button_name">Специалисты</span>
					</a>
				{% else %}
					<a href="{% url 'specialist' %}" class="nav_menu_button">
						<div class="nav_menu_button_icon">
							<img src="{% static 'web/img/icons/education.svg' %}">
						</div>
						<span class="nav_menu_button_name">Специалисты</span>
					</a>
				{% endif %}


				{% if request.path == "/volunteer" %}
					<a href="{% url 'volunteer' %}" class="nav_menu_button nav_menu_button__activate">
						<div class="nav_menu_button_icon">
							<img src="{% static 'web/img/icons/volunteer__active.svg' %}" >
						</div>
						<span class="nav_menu_button_name">Волонтерство</span>
					</a>
				{% else %}
					<a href="{% url 'volunteer' %}" class="nav_menu_button">
						<div class="nav_menu_button_icon">
							<img src="{% static 'web/img/icons/volunteer.svg' %}" >
						</div>
						<span class="nav_menu_button_name">Волонтерство</span>
					</a>
				{% endif %}


				{% if request.path == "/needhelp" %}
					<a href="{% url 'needhelp' %}" class="nav_menu_button nav_menu_button__activate">
						<div class="nav_menu_button_icon">
							<img src="{% static 'web/img/icons/need_help__active.svg' %}">
						</div>
						<span class="nav_menu_button_name">Нуждаются в помощи</span>
					</a>
				{% else %}
					<a href="{% url 'needhelp' %}" class="nav_menu_button">
						<div class="nav_menu_button_icon">
							<img src="{% static 'web/img/icons/need_help.svg' %}">
						</div>
						<span class="nav_menu_button_name">Нуждаются в помощи</span>
					</a>
				{% endif %}

			{% endif %}

			{% if request.path == "/event" %}
				<a href="{% url 'event' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/event__active.svg' %}">
					</div>
					<span class="nav_menu_button_name">Мероприятия</span>
				</a>
			{% else %}
				<a href="{% url 'event' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/event.svg' %}">
					</div>
					<span class="nav_menu_button_name">Мероприятия</span>
				</a>
			{% endif %}

			{% if request.path == "/section" %}
				<a href="{% url 'section' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/sections__active.svg' %}">
					</div>
					<span class="nav_menu_button_name">Секции</span>
				</a>
			{% else %}
				<a href="{% url 'section' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/sections.svg' %}">
					</div>
					<span class="nav_menu_button_name">Секции</span>
				</a>
			{% endif %}

			{% if request.path == "/news" %}
				<a href="{% url 'news' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/news__active.svg' %}">
					</div>
					<span class="nav_menu_button_name">Новости</span>
				</a>
			{% else %}
				<a href="{% url 'news' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/news.svg' %}">
					</div>
					<span class="nav_menu_button_name">Новости</span>
				</a>
			{% endif %}

			<!--
			{% if request.path == "/info" %}
				<a href="{% url 'info' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/additionally__active.svg' %}">
					</div>
					<span class="nav_menu_button_name">Полезная информация</span>
				</a>
			{% else %}
				<a href="{% url 'info' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/additionally.svg' %}">
					</div>
					<span class="nav_menu_button_name">Полезная информация</span>
				</a>
			{% endif %}
			-->
		</div>
	</div>






	<div class="nav_top mobile-only">
		<a href="/" class="nav_top_brand_mobile">
			<b>Мой мир</b><br>
			Мои возможности
		</a>
		<div class="nav_top_profile_mobile">
			{% if user.is_authenticated %}
				<div class="nav_top_link_profile_image_mobile mobile-only">
					<img src="{{user.profile.image.url}}">
				</div>
				<input id="nav_top_link_profile_menu__toggle" type="checkbox" />
				<label class="nav_top_link_profile_menu__btn" for="nav_top_link_profile_menu__toggle">
					<img src="{% static 'web/img/icons/arrow_down.png' %}" class="profile_portfolio_arrow">
					{% if user.is_authenticated %}
						{% if user.profile.account_type == "Пользователь" %}
							<div class="nav_top_link_profile_menu_personal_block">
								<a href="{% url 'profile' %}" class="nav_top_link_profile_menu_personal_el">
									<img src="{% static 'web/img/icons/star.svg' %}" class="nav_top_link_profile_menu_personal_el_icon">
									<span class="nav_top_link_profile_menu_personal_el_title">Личный кабинет</span>
									<img src="{% static 'web/img/icons/arrow_right.svg' %}" class="nav_top_link_profile_menu_personal_el_arrow">
								</a>
								<a href="{% url 'favorite' %}" class="nav_top_link_profile_menu_personal_el">
									<img src="{% static 'web/img/icons/save.svg' %}" class="nav_top_link_profile_menu_personal_el_icon">
									<span class="nav_top_link_profile_menu_personal_el_title">Закладки</span>
									<img src="{% static 'web/img/icons/arrow_right.svg' %}" class="nav_top_link_profile_menu_personal_el_arrow">
								</a>
								<a href="{% url 'response' %}" class="nav_top_link_profile_menu_personal_el">
									<img src="{% static 'web/img/icons/response.svg' %}" class="nav_top_link_profile_menu_personal_el_icon">
									<span class="nav_top_link_profile_menu_personal_el_title">Отклики на вакансии</span>
									<img src="{% static 'web/img/icons/arrow_right.svg' %}" class="nav_top_link_profile_menu_personal_el_arrow">
								</a>
								<a href="{% url 'logout' %}" class="nav_top_link_profile_menu_personal_el">
									<img src="{% static 'web/img/icons/logout.svg' %}" class="nav_top_link_profile_menu_personal_el_icon">
									<span class="nav_top_link_profile_menu_personal_el_title" style="color:red;">Выйти</span>
								</a>
							</div>
						{% elif user.profile.account_type == "Работодатель" %}
							<div class="nav_top_link_profile_menu_personal_block">
								<a href="{% url 'profile' %}" class="nav_top_link_profile_menu_personal_el">
									<img src="{% static 'web/img/icons/star.svg' %}" class="nav_top_link_profile_menu_personal_el_icon">
									<span class="nav_top_link_profile_menu_personal_el_title">Личный кабинет</span>
									<img src="{% static 'web/img/icons/arrow_right.svg' %}" class="nav_top_link_profile_menu_personal_el_arrow">
								</a>
								<a href="{% url 'favorite' %}" class="nav_top_link_profile_menu_personal_el">
									<img src="{% static 'web/img/icons/save.svg' %}" class="nav_top_link_profile_menu_personal_el_icon">
									<span class="nav_top_link_profile_menu_personal_el_title">Закладки</span>
									<img src="{% static 'web/img/icons/arrow_right.svg' %}" class="nav_top_link_profile_menu_personal_el_arrow">
								</a>
								<a href="{% url 'logout' %}" class="nav_top_link_profile_menu_personal_el">
									<img src="{% static 'web/img/icons/logout.svg' %}" class="nav_top_link_profile_menu_personal_el_icon">
									<span class="nav_top_link_profile_menu_personal_el_title" style="color:red;">Выйти</span>
								</a>
							</div>
						{% elif user.profile.account_type == "Детский" %}
							<div class="nav_top_link_profile_menu_personal_block">
								<a href="{% url 'profile' %}" class="nav_top_link_profile_menu_personal_el">
									<img src="{% static 'web/img/icons/star.svg' %}" class="nav_top_link_profile_menu_personal_el_icon">
									<span class="nav_top_link_profile_menu_personal_el_title">Личный кабинет</span>
									<img src="{% static 'web/img/icons/arrow_right.svg' %}" class="nav_top_link_profile_menu_personal_el_arrow">
								</a>
								<a href="{% url 'favorite' %}" class="nav_top_link_profile_menu_personal_el">
									<img src="{% static 'web/img/icons/save.svg' %}" class="nav_top_link_profile_menu_personal_el_icon">
									<span class="nav_top_link_profile_menu_personal_el_title">Закладки</span>
									<img src="{% static 'web/img/icons/arrow_right.svg' %}" class="nav_top_link_profile_menu_personal_el_arrow">
								</a>
								<a href="{% url 'logout' %}" class="nav_top_link_profile_menu_personal_el">
									<img src="{% static 'web/img/icons/logout.svg' %}" class="nav_top_link_profile_menu_personal_el_icon">
									<span class="nav_top_link_profile_menu_personal_el_title" style="color:red;">Выйти</span>
								</a>
							</div>
						{% endif %}
					{% endif %}
				</label>
			{% else %}
				<a href="{% url 'login' %}" class="nav_link_mobile mobile-only">Войти</a>
			{% endif %}
		</div>
	</div>
	<div class="nav mobile-only">	
		<div class="nav_menu mobile-only">
			<div class="index_services">

				<a class="index_services_card" href="{% url 'job' %}">
					<img src="{% static 'web/img/icons/work_found.svg' %}">
					<div class="index_services_card_text">
						<b>Поиск работы</b>
						<span>Поиск работы людям с ОВЗ</span>
					</div>
					<img src="{% static 'web/img/icons/right_arrow.svg' %}" class="services_card_right-arrow">
				</a>
				<a class="index_services_card" href="{% url 'specialist' %}">
					<img src="{% static 'web/img/icons/education.svg' %}">
					<div class="index_services_card_text">
						<b>Поиск специалистов</b>
						<span>Возможность найти специалиста</span>
					</div>
					<img src="{% static 'web/img/icons/right_arrow.svg' %}" class="services_card_right-arrow">
				</a>
				<a class="index_services_card" href="{% url 'volunteer' %}">
					<img src="{% static 'web/img/icons/volunteer.svg' %}">
					<div class="index_services_card_text">
						<b>Волонтерство</b>
						<span>Для тех, кто готов помогать</span>
					</div>
					<img src="{% static 'web/img/icons/right_arrow.svg' %}" class="services_card_right-arrow">
				</a>
				<a class="index_services_card" href="{% url 'needhelp' %}">
					<img src="{% static 'web/img/icons/need_help.svg' %}">
					<div class="index_services_card_text">
						<b>Нуждаются в помощи</b>
						<span>Оставьте здесь свою просьбу</span>
					</div>
					<img src="{% static 'web/img/icons/right_arrow.svg' %}" class="services_card_right-arrow">
				</a>
				<a class="index_services_card" href="{% url 'event' %}">
					<img src="{% static 'web/img/icons/event.svg' %}">
					<div class="index_services_card_text">
						<b>Мероприятия</b>
						<span>Здесь актуальные мероприятия</span>
					</div>
					<img src="{% static 'web/img/icons/right_arrow.svg' %}" class="services_card_right-arrow">
				</a>
				<a class="index_services_card" href="{% url 'section' %}">
					<img src="{% static 'web/img/icons/sections.svg' %}">
					<div class="index_services_card_text">
						<b>Секции</b>
						<span>Раздел с увлечениями для всех</span>
					</div>
					<img src="{% static 'web/img/icons/right_arrow.svg' %}" class="services_card_right-arrow">
				</a>
				<a class="index_services_card" href="{% url 'news' %}">
					<img src="{% static 'web/img/icons/news.svg' %}">
					<div class="index_services_card_text">
						<b>Новости</b>
						<span>Будь в курсе всего нового</span>
					</div>
					<img src="{% static 'web/img/icons/right_arrow.svg' %}" class="services_card_right-arrow">
				</a>
				<!--
					<a class="index_services_card" href="{% url 'info' %}">
						<img src="{% static 'web/img/icons/additionally.svg' %}">
						<div class="index_services_card_text">
							<b>Полезная информация</b>
							<span>Раздел с документами</span>
						</div>
						<img src="{% static 'web/img/icons/right_arrow.svg' %}" class="services_card_right-arrow">
					</a>
				-->
				<div class="index_services_card index_services_card_contacts">
					<img src="{% static 'web/img/icons/phone.svg' %}">
					<div class="index_services_card_text">
						<b>Контакты</b>
						<div class="nav_top_contact_mobile_block">
							<div class="nav_top_contact_mobile_el">
								<span>Техническая поддержка</span>
								<a href="tel:89242275447">+7 924 227-54-47</a>
							</div>
							<div class="nav_top_contact_mobile_el">
								<span>Психологическая поддержка</span>
								<a href="tel:79146872644">+7 914 687-26-44</a>
							</div>
							<div class="nav_top_contact_mobile_el">
								<span>Почта</span>
								<a href="mailto:moimir-vozmojnosti@internet.ru">moimir-vozmojnosti@internet.ru</a>
							</div>
							<div class="nav_top_contact_mobile_el">
								<span>Наша группа ВК</span>
								<a href="https://vk.com/vozmojnostiru">@vozmojnostiru</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

