{% load static %}
<nav>
	<div class="nav">
		<div class="nav_top">
			<div class="nav_top_logo">
				<a href="/">
					<b>Мой мир</b><br>
					Мои возможности
					
				</a>
			</div>
			<div class="nav_top_link">
				<div class="nav_top_contact_container">
					<span class="link nav_top_contact_text">Контакты</span>
					<div class="nav_top_contact_block">
						<div class="nav_top_contact_el">
							<span>Техническая поддержка</span>
							<a href="#">+7 000 000 00-00</a>
						</div>
						<div class="nav_top_contact_el">
							<span>Психологическая поддержка</span>
							<a href="#">+7 000 000 00-00</a>
						</div>
						<div class="nav_top_contact_el">
							<span>Почта</span>
							<a href="#">Pochta@mail.ru</a>
						</div>
						<div class="nav_top_contact_el">
							<span>Наша группа ВК</span>
							<a href="#">@moimir</a>
						</div>
					</div>
				</div>
				
				{% if user.is_authenticated %}
					{% if user.profile.account_type == "Пользователь" %}
						<div class="nav_top_link_profile">
							<span class="nav_top_link_profile_name">
								{{user.profile.name}} {{user.profile.surname}}</span>
							<div class="nav_top_link_profile_image">
								<img src="{{user.profile.image.url}}">
							</div>
							<div class="nav_top_link_profile_menu">
								<a href="{% url 'profile' %}">
									<img src="{% static 'web/img/icons/star.svg' %}">
									<span>Личный кабинет</span>
								</a>
								<a href="{% url 'favorite' %}">
									<img src="{% static 'web/img/icons/save.svg' %}">
									<span>Закладки</span>
								</a>
								<a href="{% url 'response' %}">
									<img src="{% static 'web/img/icons/response.svg' %}">
									<span>Ваши отклики</span>
								</a>
								<a href="{% url 'logout' %}">
									<img src="{% static 'web/img/icons/logout.svg' %}">
									<span style="color:red">Выйти</span>
								</a>
							</div>
						</div>
					{% elif user.profile.account_type == "Работодатель" %}
						<div class="nav_top_link_profile">
							<span class="nav_top_link_profile_name">
								{{user.profile.employer}}
							</span>
							<div class="nav_top_link_profile_image">
								<img src="{{user.profile.image.url}}">
							</div>
							<div class="nav_top_link_profile_menu">
								<a href="{% url 'profile' %}">
									<img src="{% static 'web/img/icons/star.svg' %}">
									<span>Личный кабинет</span>
								</a>
								<a href="{% url 'favorite' %}">
									<img src="{% static 'web/img/icons/save.svg' %}">
									<span>Закладки</span>
								</a>
								<a href="{% url 'logout' %}">
									<img src="{% static 'web/img/icons/logout.svg' %}">
									<span style="color:red">Выйти</span>
								</a>
							</div>
						</div>
					{% elif user.profile.account_type == "Детский" %}
						<div class="nav_top_link_profile">
							<span class="nav_top_link_profile_name">
								{{user.profile.name}} {{user.profile.surname}}</span>
							<div class="nav_top_link_profile_image">
								<img src="{{user.profile.image.url}}">
							</div>
							<div class="nav_top_link_profile_menu">
								<a href="{% url 'profile' %}">
									<img src="{% static 'web/img/icons/star.svg' %}">
									<span>Личный кабинет</span>
								</a>
								<a href="{% url 'favorite' %}">
									<img src="{% static 'web/img/icons/save.svg' %}">
									<span>Закладки</span>
								</a>
								<a href="{% url 'logout' %}">
									<img src="{% static 'web/img/icons/logout.svg' %}">
									<span style="color:red">Выйти</span>
								</a>
							</div>
						</div>
					{% else %}
					<a href="{% url 'profile' %}" class="nav_top_link_profile">
						{{user.username}}
						<div class="nav_top_link_profile_image">
							<img src="{{user.profile.image.url}}">
						</div>
					</a>
					{% endif %}
				{% else %}
					<a href="{% url 'register' %}" class="button">Регистрация</a>
					<a href="{% url 'login' %}" class="button">Войти</a>
				{% endif %}
			</div>
		</div>
		<div class="nav_menu">
			{% if request.path == "/job" %}
				<a href="{% url 'job' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/work_found__active.svg' %}">
					</div>
					<span class="nav_menu_button_name">Поиск работы</span>
				</a>
			{% else%}
				<a href="{% url 'job' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/work_found.svg' %}">
					</div>
					<span class="nav_menu_button_name">Поиск работы</span>
				</a>
			{% endif %} 
			

			{% if request.path == "/specialist" %}
				<a href="{% url 'specialist' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/education__active.svg' %}">
					</div>
					<span class="nav_menu_button_name">Специалисты</span>
				</a>
			{% else %}
				<a href="{% url 'specialist' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/education.svg' %}">
					</div>
					<span class="nav_menu_button_name">Специалисты</span>
				</a>
			{% endif %}


			{% if request.path == "/volunteer" %}
				<a href="{% url 'volunteer' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/volunteer__active.svg' %}" >
					</div>
					<span class="nav_menu_button_name">Волонтерство</span>
				</a>
			{% else %}
				<a href="{% url 'volunteer' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/volunteer.svg' %}" >
					</div>
					<span class="nav_menu_button_name">Волонтерство</span>
				</a>
			{% endif %}


			{% if request.path == "/needhelp" %}
				<a href="{% url 'needhelp' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/need_help__active.svg' %}">
					</div>
					<span class="nav_menu_button_name">Нуждаются в помощи</span>
				</a>
			{% else %}
				<a href="{% url 'needhelp' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/need_help.svg' %}">
					</div>
					<span class="nav_menu_button_name">Нуждаются в помощи</span>
				</a>
			{% endif %}


			{% if request.path == "/event" %}
				<a href="{% url 'event' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/event__active.svg' %}">
					</div>
					<span class="nav_menu_button_name">Мероприятия</span>
				</a>
			{% else %}
				<a href="{% url 'event' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/event.svg' %}">
					</div>
					<span class="nav_menu_button_name">Мероприятия</span>
				</a>
			{% endif %}

			{% if request.path == "/section" %}
				<a href="{% url 'section' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/sections__active.svg' %}">
					</div>
					<span class="nav_menu_button_name">Секции</span>
				</a>
			{% else %}
				<a href="{% url 'section' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/sections.svg' %}">
					</div>
					<span class="nav_menu_button_name">Секции</span>
				</a>
			{% endif %}

			{% if request.path == "/news" %}
				<a href="{% url 'news' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/news__active.svg' %}">
					</div>
					<span class="nav_menu_button_name">Новости</span>
				</a>
			{% else %}
				<a href="{% url 'news' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/news.svg' %}">
					</div>
					<span class="nav_menu_button_name">Новости</span>
				</a>
			{% endif %}

			{% if request.path == "/info" %}
				<a href="{% url 'info' %}" class="nav_menu_button nav_menu_button__activate">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/additionally__active.svg' %}">
					</div>
					<span class="nav_menu_button_name">Полезная информация</span>
				</a>
			{% else %}
				<a href="{% url 'info' %}" class="nav_menu_button">
					<div class="nav_menu_button_icon">
						<img src="{% static 'web/img/icons/additionally.svg' %}">
					</div>
					<span class="nav_menu_button_name">Полезная информация</span>
				</a>
			{% endif %}
		</div>
	</div>
</nav>