<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% extends "web/base.html" %}
{% load static %}
{% block content %}
<div class="profile_block">
	<div class="my_profile_block">
		<div class="my_profile_about">
			<div class="my_profile_about_image">
				<img src="{{ user_profile.profile.image.url }}" alt=" ">
			</div>
			<div class="my_profile_about_bio">
				{{ user_profile.profile.bio }}
			</div>
			{% if user_profile.profile.show_email == "Отображать" %}
				<div class="my_profile_about_contact">
					<b>Почта:</b>
					<span>{{user_profile.email}}</span>
				</div>
			{% endif %}
			{% if user_profile.profile.contacts != "" and user_profile.profile.contacts != None and user_profile.profile.show_contacts == "Отображать"%}
				<div class="my_profile_about_contact">
					<b>Контакт:</b>
					<span>{{user_profile.profile.contacts}}</span>	
				</div>
			{% endif %}
		</div>
		<div class="my_profile_info">
			<div class="my_profile_info_name">
				{% if user_profile.profile.account_type == "Пользователь" or  user_profile.profile.account_type == "Детский"%}
					<h2>{{ user_profile.profile.name }} {{ user_profile.profile.surname }}, {{ user_profile.profile.age }} лет</h2>
				{% elif user_profile.profile.account_type == "Работодатель" %}
					<h2>{{user_profile.profile.employer}}</h2>
				{% endif %}
				@{{ user_profile.username }}
			</div>
			{% for Job in Jobs %}
				{% include 'web/card/job_card.html' %}
			{% endfor %}
			


			<!--Карточки если пользователь-->
			{% if user_profile.profile.account_type == "Пользователь" %}
			<div class="my_profile_user_block">
				<div class="my_profile_user_card_input_block">

					{% if specialists|length == 0 and volunteers|length == 0 and needhelps|length == 0 and events|length == 0 and sections|length == 0%}
						<b>Пусто...</b><br>
						Пользователь еще не успел создать карточки в сервисах 
					{% endif %}

					{% if specialists|length > 0 %}
						<input type="button" id="user_card_1" value="Специалист" class="button my_profile_user_card_input" style="background: #032042">
					{% endif %}
					{% if volunteers|length > 0 %}
						<input type="button" id="user_card_2" value="Волонтер" class="button my_profile_user_card_input">
					{% endif %}
					{% if needhelps|length > 0 %}
						<input type="button" id="user_card_3" value="Нуждается в помощи" class="button my_profile_user_card_input">
					{% endif %}
					{% if events|length > 0 %}
						<input type="button" id="user_card_4" value="Организатор мероприятия" class="button my_profile_user_card_input">
					{% endif %}
					{% if sections|length > 0 %}
						<input type="button" id="user_card_5" value="Организатор секции" class="button my_profile_user_card_input">
					{% endif %}
				</div>
					
				<div>
					<label for="user_card_1" class="my_profile_user_card_label" style="display:block">
						{% with favorites=favorite_specialist %}
							{% for specialist in specialists %}
								{% include 'web/card/specialist_card.html' %}
							{% endfor %}
						{% endwith %}
					</label>
					<label for="user_card_2" class="my_profile_user_card_label">
						{% with favorites=favorite_volunteer %}
							{% for volunteer in volunteers %}
								{% include 'web/card/volunteer_card.html' %}
							{% endfor %}
						{% endwith %}
					</label>
					<label for="user_card_3" class="my_profile_user_card_label">
						{% with favorites=favorite_needhelp %}
							{% for needhelp in needhelps %}
								{% include 'web/card/needhelp_card.html' %}
							{% endfor %}
						{% endwith %}
					</label>
					<label for="user_card_4" class="my_profile_user_card_label">
						{% with favorites=favorite_event %}
							{% for event in events %}
								{% include 'web/card/event_card.html' %}
							{% endfor %}
						{% endwith %}
					</label>
					<label for="user_card_5" class="my_profile_user_card_label">
						{% with favorites=favorite_section %}
							{% for section in sections %}
								{% include 'web/card/section_card.html' %}
							{% endfor %}
						{% endwith %}
					</label>
				</div>
	
			</div>
			{% endif %}

			<!--Карточки если ребенок-->
			{% if user_profile.profile.account_type == "Детский" %}
				<div class="my_profile_user_block">
					<div class="my_profile_user_card_input_block">
						<input type="button" id="children_card_0" value="Достижения" class="button my_profile_user_card_input" style="background: #032042">
						<label for="children_card_0" class="my_profile_user_card_label" style="display:grid">
							{% for achievement in achievements %}
								{% include 'web/card/achievement_card.html' %}
							{% endfor %}
						</label>
					</div>
				</div>
			{% endif %}

		</div>
	</div>
</div>


<script> /*Отображение пользовательских карточек*/
    $(".my_profile_user_card_input").click(function(){

    	$(".my_profile_user_card_label").removeAttr("style")
    	$(".my_profile_user_card_input").removeAttr("style")

    	$this = $(this);
    	$label = $('label[for="'+ $this.attr('id') +'"]');

    	if ($label.length > 0 ) {
       		$(this).css("background", "#032042")
       		$label.css("display", "grid")
    	}
        
    });
 </script>
{% endblock %}