{% extends 'web/base.html' %}
{% load static %}
{% block content %}
	<section class="news_about_block">
		"Мой мир – мои возможности " – платформа для потенциальной занятости и социализации для людей с ОВЗ.
 		<br><br>
		Идея проекта – создание информационной веб-платформы для людей с ограниченными возможностями здоровья. 
		<br><br>
		Данный ресурс поможет целевой аудитории расширить свои возможности в общении, поиске волонтеров, преподавателей, тренеров.
		<br><br>
		На веб-платформе будет размещена информация о: 
		– работниках, студентах и учениках с ограниченными возможностями здоровья;
		– работодателях и учебных организациях, потенциально заинтересованных в работниках, студентах или учениках с ограниченными возможностями здоровья;
		– волонтерах, готовых оказывать помощь людям с ограниченными возможностями здоровья.
		<br><br>
		Разрабатываемая платформа позволит снять информационные барьеры о методах и способах общения с людьми с ОВЗ благодаря общедоступности. Люди с ОВЗ смогут общаться на платформе с большим количеством участников, открыто сообщая о своих потребностях и ограничениях. При подключении к работе программы специалистов государственных структур (центра занятости населения, центров социальной защиты и др.) появится дополнительный ресурс для информирования целевой аудитории о вакантных рабочих местах для инвалидов и о возможностях оказания/получения дополнительной социальной помощи от государства.
	</section>
{% endblock content %}