{% extends 'web/base.html' %}
{% load static %}
{% block content %}

	<section class="job_delete_block">
		<div class="job_responses_title">
			<h1>{{achievement.title}}</h1>
			<span>Удаление карточки</span>
			<input type="button" onclick="history.back();" value="Назад"/>
		</div>

		<div class="job_delete_card">
			{% include 'web/card/achievement_card.html' %}
		</div>

		<form method="POST" class="job_delete_confirmation">
			{% csrf_token %}
			<h2>Вы точно хотите удалить карточку?</h2>
			<button type="submit" class="button button-delete" name="delete_confirmation" value="delete_accept">Удалить</button>
			<button type="submit" class="button" name="delete_confirmation" value="delete_cancel">Отменить</button>
		</form>
			
	</section>
	
{% endblock content %}