{% extends 'web/base.html' %}
{% load static %}

{% block content %}

	
	<section class="search__block">
		<div class="job_responses_title">
			<span>Поиск: {{query}}</span>
			<input type="button" onclick="history.back();" value="Назад"/>
		</div>

		{% include 'web/include/search.html' %}
			
		{% if answer|length == 0 %}
			К сожалению нет записей по такому запросу
		{% else %}
			{% if service_type == "job" %}
				{% for Job in answer %}
					{% include 'web/card/job_card.html' %}
				{% endfor %}
			{% elif service_type == "specialist" %}
				{% for specialist in answer %}
					{% include 'web/card/specialist_card.html' %}
				{% endfor %}
			{% endif %}
		{% endif %}
		
	</section>

{% endblock content %}