{% load static %}
{% block content %}
	<div class="services_card">
		<div class="achievement_card">
			<a href="{{ achievement.image.url }}" data-fancybox class="achievement_card_image">
				<img src="{{ achievement.image.url }}" alt=" ">
			</a>
			<div class="achievement_card_content">
				<h2>{{achievement.title}}</h2>
				<span class="achievement_card_content_date">{{achievement.date}}</span>
				<span class="achievement_card_content_about">{{achievement.about}}</span>
				{% if achievement.user.username == user.username %}
					<a href="/achievement/edit/{{achievement.id}}" class="achievement_card_content_edit">Редактировать</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

