{% load static %}
{% block content %}
	<div class="services_card">
		<div class="services_card_user">
			<div class="services_card_user_image">
				<img src="{{event.user.profile.image.url}}">
				{% if user.username != event.user.username %}
					{% if event.id in favorites %}
						<form method="POST"  class="services_card_user_add-favorite">
							{% csrf_token %}
							<input type="hidden" name="service_name" value="Мероприятия" />
							<input type="hidden" name="service_id" value="{{event.id}}" />
							<button type="submit" class="services_card_user_add-favorite_button">
								<img src="{% static 'web/img/icons/remove-favorite.svg' %}">
							</button>
						</form>
					{% else %}
						<form method="POST" class="services_card_user_add-favorite">
							{% csrf_token %}
							<input type="hidden" name="service_name" value="Мероприятия" />
							<input type="hidden" name="service_id" value="{{event.id}}" />
							<button type="submit" class="services_card_user_add-favorite_button">
								<img src="{% static 'web/img/icons/add-favorite.svg' %}">
							</button>
						</form>
					{% endif %}
				{% endif %}
			</div>
			<div class="services_card_employer_info">
				<h2>{{event.title}}</h2>
				
				{{event.description}}

				<div class="services_card_employer_info_filter">
					<span><b>Адрес:</b> {{event.event_location}}</span>
					<span><b>Дата:</b> {{event.event_date}}</span>
					<span><b>Время:</b> {{event.event_time}}</span>
					<span><b>Тема:</b> {{event.event_theme}}</span>
				</div>
			
				
				{% if event.user.username == user.username %}
					<div class="services_card_employer-button_container">
						<a href="/event/edit/{{event.id}}" class="button services_card_employer-button">Редактировать</a>
						<a href="/event/delete/{{event.id}}" style="color:#F44949; display: block;">Удалить</a>
					</div>
				{% endif %}

				
			</div>
		</div>
		<a class="services_card_employer-name" href="/user/{{event.user.username}}">{{event.user.profile.name}} {{event.user.profile.surname}}, {{event.user.profile.age}}</a>
		<span class="services_card_date">{{event.date}}</span>
	</div>
{% endblock %}